html{
    text-align: center;
    color: white;
   background: url("http://www.nasa.gov/sites/default/files/archives_ngc6946.jpg");
}
.juice{
    font-family: 'Audiowide', cursive;
}
.Basketball{
    font-family: 'Rye', cursive;
}
.super{
    font-family: 'Faster One', cursive;
}